services:
  immich-public-proxy:
    container_name: immich-public-proxy
    image: alangrainger/immich-public-proxy:1.15.3
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - ./config.json:/app/config.json:ro
    ports:
      - 3000:3000
    labels:
      # Traefik
      traefik.enable: true
      traefik.http.routers.immich-proxy.entryPoints: websecure
      traefik.http.services.immich-proxy.loadbalancer.server.port: 3000
      traefik.http.routers.immich-proxy.rule: Host(`img.hoebergen.net`)
      ## Cloudflare
      #dockflare.enable: true
      #dockflare.hostname: "photos.hoebergen.net"
      #dockflare.originsrvname: "photos.hoebergen.net"
      #dockflare.path: "share"
      #dockflare.service: "https://localhost:443"
    networks:
      - immich
      - frontend

networks:
  frontend:
    external: true
  immich:
    name: backend-immich
    external: true
