services:
  traefik:
    container_name: traefik
    image: traefik:v3.6.8
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - ./data/:/etc/traefik/
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - frontend
    labels:
      traefik.http.routers.api.rule: Host(`traefik.lab-vps-02.hoebergen.net`)
      traefik.http.routers.api.entryPoints: websecure
      traefik.http.routers.api.service: api@internal
      traefik.http.routers.api.middlewares: localAccess@file
      traefik.enable: true
    env_file:
      - ./.env
    restart: unless-stopped

  traefik-forward-auth:
    image: ghcr.io/italypaleale/traefik-forward-auth:4.6.1
    restart: unless-stopped
    volumes:
      - ./forward-proxy:/etc/traefik-forward-auth
    networks:
      - frontend
    labels:
      traefik.enable: true
      traefik.http.middlewares.traefik-forward-auth.forwardauth.address: http://traefik-forward-auth:4181/portals/mediastack
      traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders: X-Forwarded-User,X-Forwarded-Displayname,X-Authenticated-User
      traefik.http.middlewares.traefik-forward-auth.forwardauth.trustForwardHeader: true
      traefik.http.services.traefik-forward-auth.loadbalancer.server.port: 4181
      traefik.http.routers.traefik-forward-auth.rule: Host(`authproxy.lab-vps-02.hoebergen.net`)
      traefik.http.routers.traefik-forward-auth.entrypoints: websecure
     # Cloudflare
     # dockflare.enable: true
     # dockflare.hostname: "authproxy.lab-vps-02.hoebergen.net"
     # dockflare.originsrvname: "authproxy.lab-vps-02.hoebergen.net"
     # dockflare.service: "https://localhost:443"

networks:
  frontend:
    driver: bridge
    external: true