services:
  bentopdf:
    # simple mode - bentopdf/bentopdf-simple:latest
    # default mode - bentopdf/bentopdf:latest
    image: bentopdf/bentopdf:1.15.3
    container_name: bentopdf
    restart: unless-stopped
    #ports:
    #  - '8080:8080'
    labels:
      traefik.enable: true
      traefik.http.routers.stirling.entryPoints: websecure
      traefik.http.routers.stirling.rule: Host(`pdf.hoebergen.net`)

networks:
  default:
    name: frontend
    external: true
