services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1.16.0
    restart: unless-stopped
    env_file: .env
    ports:
      - 10.0.10.101:1411:1411
    volumes:
      - "/docker/pocket-id/data:/app/data"
    labels:
      traefik.enable: true
      traefik.http.routers.pocket-id.entryPoints: websecure
      traefik.http.services.pocket-id.loadbalancer.server.port: 1411
      traefik.http.routers.pocket-id.rule: Host(`auth.hoebergen.net`)
      # Cloudflare
      dockflare.enable: true
      dockflare.hostname: "auth.hoebergen.net"
      dockflare.originsrvname: "auth.hoebergen.net"
      dockflare.service: "https://localhost:443"
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s

  pocket-id-whoami:
    image: traefik/whoami
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.pocket-id-test.entryPoints: websecure
      traefik.http.services.pocket-id-test.loadbalancer.server.port: 80
      traefik.http.routers.pocket-id-test.rule: Host(`auth2.hoebergen.net`)
      # Cloudflare
      dockflare.enable: true
      dockflare.hostname: "auth2.hoebergen.net"
      dockflare.originsrvname: "auth2.hoebergen.net"
      dockflare.service: "https://localhost:443"

networks:
  default:
    name: frontend
    external: true