services:
  bentopdf:
    # simple mode - bentopdf/bentopdf-simple:latest
    # default mode - bentopdf/bentopdf:latest
    image: bentopdfteam/bentopdf-simple:2.0.0
    container_name: bentopdf
    restart: unless-stopped
    #ports:
    #  - '8080:8080'
    labels:
      traefik.enable: true
      traefik.http.routers.bentopdf.entryPoints: websecure
      traefik.http.routers.bentopdf.rule: Host(`pdf.hoebergen.net`)

networks:
  default:
    name: frontend
    external: true