services:
  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:v0.4.2
    container_name: dockerproxy
    environment:
      - INFO=1 # Crowdsec
      - CONTAINERS=1 # Allow access to viewing containers
      - POST=0 # Disallow any POST operations (effectively read-only)
    ports:
      - 10.0.10.101:2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    restart: unless-stopped

networks:
  default:
    name: frontend
    external: true