name: pangolin
networks:
  default:
    driver: bridge
    name: pangolin
services:
  crowdsec:
    command: -t
    container_name: crowdsec
    environment:
      COLLECTIONS: crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
      ENROLL_INSTANCE_NAME: pangolin-crowdsec
      ENROLL_TAGS: docker
      GID: "1000"
      PARSERS: crowdsecurity/whitelists
    healthcheck:
      interval: 10s
      retries: 3
      start_period: 30s
      test:
        - CMD
        - cscli
        - lapi
        - status
      timeout: 5s
    image: docker.io/crowdsecurity/crowdsec:latest
    labels:
      - traefik.enable=false
    ports:
      - 6060:6060
    restart: unless-stopped
    volumes:
      - /docker/pangolin/config/crowdsec:/etc/crowdsec
      - /docker/pangolin/config/crowdsec/db:/var/lib/crowdsec/data
      - /docker/pangolin/config/traefik/logs:/var/log/traefik
  gerbil:
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    command:
      - --reachableAt=http://gerbil:3004
      - --generateAndSaveKeyTo=/var/config/key
      - --remoteConfig=http://pangolin:3001/api/v1/
    container_name: gerbil
    depends_on:
      pangolin:
        condition: service_healthy
    image: docker.io/fosrl/gerbil:1.3.0
    ports:
      - 51820:51820/udp
      - 21820:21820/udp
      - 443:443
      - 80:80
    restart: unless-stopped
    volumes:
      - /docker/pangolin/config/:/var/config
  pangolin:
    container_name: pangolin
    healthcheck:
      interval: 10s
      retries: 15
      test:
        - CMD
        - curl
        - -f
        - http://localhost:3001/api/v1/
      timeout: 10s
    image: docker.io/fosrl/pangolin:ee-1.16.0
    restart: unless-stopped
    volumes:
      - /docker/pangolin/config:/app/config
  traefik:
    command:
      - --configFile=/etc/traefik/traefik_config.yml
    container_name: traefik
    env_file:
      - ./.env
    depends_on:
      crowdsec:
        condition: service_healthy
      pangolin:
        condition: service_healthy
    image: docker.io/traefik:v3.6
    network_mode: service:gerbil
    restart: unless-stopped
    volumes:
      - /docker/pangolin/config/traefik:/etc/traefik:ro
      - /docker/pangolin/config/letsencrypt:/letsencrypt
      - /docker/pangolin/config/traefik/logs:/var/log/traefik
  geoipupdate:
    container_name: geoipupdate
    image: ghcr.io/maxmind/geoipupdate
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - 'GEOIPUPDATE_EDITION_IDS=GeoLite2-Country GeoLite2-ASN'
      - 'GEOIPUPDATE_FREQUENCY=72'
    volumes:
      - '/docker/pangolin/config/GeoLite2:/usr/share/GeoIP'