services:
  db_recipes:
    container_name: tandoor-db
    restart: unless-stopped
    image: postgres:15.15-alpine3.21
    volumes:
      - /home/jordy/docker/tandoor/postgresql:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - tandoor
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  web_recipes:
    container_name: tandoor-web
    restart: unless-stopped
    image: ghcr.io/tandoorrecipes/recipes:2.3.3
    env_file:
      - ./.env
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - /home/jordy/docker/tandoor/mediafiles/:/opt/recipes/mediafiles
    labels:
      # traefik
      traefik.enable: true
      traefik.http.routers.tandoor.entryPoints: websecure
      #traefik.http.services.tandoor.loadbalancer.server.port: 80
      traefik.http.routers.tandoor.rule: Host(`recipes.hoebergen.net`)
    depends_on:
      db_recipes:
        condition: service_healthy
    networks:
      - tandoor
      - frontend

networks:
  tandoor:
    name: backend-tandoor
  frontend:
    external: true

volumes:
  staticfiles:
