services:
  wiki:
    image: ghcr.io/requarks/wiki:2.5.312
    container_name: wiki-js
    depends_on:
      - db
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: wikijs
      DB_PASS: ${DB_PASSWORD}
      DB_NAME: wiki
      NODE_EXTRA_CA_CERTS: /certs/hoebergen-net.pem
    volumes:
      - ./certs:/certs:ro
    labels:
      traefik.enable: true
      traefik.http.routers.wiki-js.entryPoints: websecure
      traefik.http.services.wiki-js.loadbalancer.server.port: 3000
      traefik.http.routers.wiki-js.rule: Host(`wiki.hoebergen.net`)
      # traefik.http.routers.api.middlewares: localAccess@file
      # Allow access via private tunnel
      # Cloudflare
      dockflare.enable: true
      dockflare.hostname: "wiki.hoebergen.net"
      dockflare.originsrvname: "wiki.hoebergen.net"
      dockflare.service: "https://localhost:443"
    restart: unless-stopped
    networks:
      - frontend
      - wiki-js

  db:
    image: postgres:15.15-alpine3.21
    container_name: wiki-js-db
    environment:
      POSTGRES_DB: wiki
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: wikijs
    networks:
      - wiki-js
    restart: unless-stopped
    volumes:
      - /docker/wikijs/database:/var/lib/postgresql/data

volumes:
  db-data:

networks:
  frontend:
    name: frontend
    external: true
  wiki-js:
    name: backend-wiki-js