services:
  metube:
    image: alexta69/metube@sha256:fe87482a11a86071093438cfb53f6cdcd9c648c248bccc88f3535bd275166fc8
    container_name: metube
    restart: unless-stopped
    volumes:
      - /docker/metube/downloads:/downloads
    labels:
      traefik.enable: true
      traefik.http.routers.metube.entryPoints: websecure
      traefik.http.routers.metube.rule: Host(`yt.hoebergen.net`)
      traefik.http.routers.metube.middlewares: localAccess@file

networks:
  default:
    name: frontend
    external: true