services:
  metube:
    image: alexta69/metube@sha256:ad242a4808f72a760b9a56e8d0b89785d3b7e8e57588bde67b4f0111ac0fdc27
    container_name: metube
    restart: unless-stopped
    volumes:
      - /docker/metube/downloads:/downloads
    labels:
      traefik.enable: true
      traefik.http.routers.metube.entryPoints: websecure
      traefik.http.routers.metube.rule: Host(`yt.hoebergen.net`)
      traefik.http.routers.metube.middlewares: localAccess@file

networks:
  default:
    name: frontend
    external: true