services:
  metube:
    image: alexta69/metube@sha256:c54dbe4ea8e8537145b372d35009d7f30d4cac4ecf30edd691205a7e93bf8da0
    container_name: metube
    restart: unless-stopped
    volumes:
      - /docker/metube/downloads:/downloads
    labels:
      traefik.enable: true
      traefik.http.routers.metube.entryPoints: websecure
      traefik.http.routers.metube.rule: Host(`yt.hoebergen.net`)
      traefik.http.routers.metube.middlewares: localAccess@file

networks:
  default:
    name: frontend
    external: true