services:
  traefik:
    container_name: traefik
    image: traefik:v3.6.6
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - ./data/:/etc/traefik/
    networks:
      - frontend
    labels:
      traefik.http.routers.api.rule: Host(`traefik.str-vps-01.hoebergen.net`)
      traefik.http.routers.api.entryPoints: https
      traefik.http.routers.api.service: api@internal
      traefik.enable: true
    env_file:
      - ./.env
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
    external: true
