services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.7.0
    container_name: homepage
    restart: unless-stopped
    volumes:
      - /home/jordy/docker/homepage/config:/app/config
      - /home/jordy/docker/homepage/images:/app/public/images
      - /home/jordy/docker/homepage/icons:/app/public/icons
    env_file:
      - ./.env
    environment:
      PUID: 1000
      PGID: 1000
      HOMEPAGE_ALLOWED_HOSTS: homepage.hoebergen.net
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.entryPoints: websecure
      traefik.http.services.homepage.loadbalancer.server.port: 3000
      traefik.http.routers.homepage.rule: Host(`homepage.hoebergen.net`)
      traefik.http.routers.homepage.middlewares: localAccess@file

networks:
  default:
    name: frontend
    external: true