services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.19.1
    container_name: zerobyte
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    #ports:
    #  - "4096:4096"
    labels:
      traefik.enable: true
      traefik.http.routers.zerobyte.entryPoints: websecure
      traefik.http.services.zerobyte.loadbalancer.server.port: 4096
      traefik.http.routers.zerobyte.rule: Host(`zerobyte.lab-vps-01.hoebergen.net`)
      traefik.http.routers.zerobyte.middlewares: localAccess@file
    devices:
      - /dev/fuse:/dev/fuse
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /etc/localtime:/etc/localtime:ro #timezone
      - /docker/zerobyte:/var/lib/zerobyte #zerobyte config
      - /root/.config/rclone:/root/.config/rclone #rclone config
      - /home/jordy/docker:/dockerold
      - /docker:/docker
      - /etc/komodo:/komodo

networks:
  default:
    name: frontend
    external: true